@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

input,
textarea,
select {
  color-scheme: light;
  background-color: white;
  color: #1f2937;
  border-color: #d1d5db;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.8);
}

.illeps {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #0f172a;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}